<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Kalkulator</title>
    <meta charset="UTF-8" />
</head>
<body>
<section layout:fragment="content">
    <h2 style="text-align: center;">Niestety, ta część witryny nie jest jeszcze dostępna.</h2>
<article>
    <h3>Wkrótce znajdziesz tu zagadnienia, które pomogą Ci zrozumieć czym są ułamki zwykłe oraz jak wykonywać działania na nich.</h3>
    <p>Oto pełna lista tematów:</p><br>
    <ol>
        <li>Budowa ułamka</li>
        <li>Czytanie ułamków</li>
        <li>Ułamek jako iloraz</li>
        <li>Rodzaje ułamków zwykłych</li>
        <li>Zamiana liczby mieszanej na ułamek niewłaściwy</li>
        <li>Wyłączanie całości</li>
        <li>Rozszerzanie ułamków zwykłych</li>
        <li>Skracanie ułamków zwykłych</li>
        <li>Sprowadzanie do wspólnego mianownika</li>
        <li>Porównywanie ułamków zwykłych</li>
        <li>Dodawanie ułamków o jednakowych mianownikach</li>
        <li>Dodawanie ułamków o różnych mianownikach</li>
        <li>Odejmowanie ułamków o jednakowych mianownikach</li>
        <li>Odejmowanie ułamków o różnych mianownikach</li>
        <li>Odejmowanie ułamków - przypadki specjalne</li>
        <li>Mnożenie ułamków przez liczbę naturalną</li>
        <li>Mnożenie ułamków</li>
        <li>Odwrotność ułamka</li>
        <li>Dzielenie ułamków</li>
        <li>Obliczanie ułamka liczby</li>
        <li>Zamiana na ułamek dziesiętny</li>
        <li>Zamiana na ułamek dziesiętny cz 2</li>
        <li>Ciekawostki o ułamkach</li>
    </ol>
</article>
<aside>
    <p>Tu na razie jest ściernisko...</p><br>
    <img src="images/fraction34.png" alt="ułamek"/>
</aside>
</section>
</body>
</html>